@{
    ViewData["Title"] = "About";
    Layout = "~/views/shared/_Layout.cshtml";
}

<h1>About Page</h1>

<p>This is my About page</p>
@ViewData["VDdataA"]
<br />
@ViewBag.VBdataA
<br />
@TempData["TDdataA"] @* only tempData Worked here *@
<br />