
@{
    ViewData["Title"] = "Contact";
    //Layout = "~/views/shared/_Layout.cshtml";
}

<h1>Contact Page</h1>

<p>This is my Contact page</p>

@ViewData["VDdataA"]
<br />
@ViewBag.VBdataA
<br />
@TempData["TDdataA"] @* only tempData Worked here *@
<br />
